html,body{
    height: 100%;
}
/* Header */
.current {
    border-bottom: 4px solid white;
  }
.header {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
}

/* End oF Header */


/* Home Section */


/* Main Section */

#main{
    color:black;
    height:550px;
    background:lightblue url(/img/s3.jpg) no-repeat fixed center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}


/* End oF Main Section  */












/* Our Services  */

.card {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}   

.hd {
    font-size: 40px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.image {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}

/* End oF Our Services  */







/* Shop */


.card {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10PX;
    margin-right: 10PX;
}   

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: -75px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-size: 2rem;
    font-weight: 800
}
















/* Contact */

.contact-input{
    margin-top: 10px;
}

.contact-top{
    margin-top: 50px;
}

.contact-top-title{
    color: #666;
    text-align: center;
    font-weight: 900;
}

.contact-geo-title{
    color: #666;
    text-align: center;
    font-weight: 500;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/* End oF Contact */


/* About us */

.about-top-title{
    color: #222;
    text-align: center;
    font-weight: t00;
    font-size: 4rem;
}
.card-title{
    margin-top: 10px;
}

/* End oF About us */



/* Form */


.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   width: 50%;
   border-radius: 50%;
}

.form-signin {
width: 100%;
}

.form-signin .btn {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
}

.form-label-group {
position: relative;
margin-bottom: 1rem;
}

.form-label-group input {
height: 50px;
border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
padding: var(--input-padding-y) var(--input-padding-x);
padding-left: 22px;
padding-right: 22px;
}

.form-label-group>label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
/* Override default `<label>` margin */
line-height: 1.5;
color: #495057;
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.form-label-group input:-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-moz-placeholder {
color: transparent;
}

.form-label-group input::placeholder {
color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
padding-top: calc(var(--input-padding-y) / 3);
padding-bottom: calc(var(--input-padding-y) / 3);
font-size: 12px;
color: #777;
}

.btn-google {
color: white;
background-color: #ea4335;
}

.btn-facebook {
color: white;
background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
.form-label-group>label {
    display: none;
}
.form-label-group input::-ms-input-placeholder {
    color: #777;
}
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
.form-label-group>label {
    display: none;
}
.form-label-group input:-ms-input-placeholder {
    color: #777;
}
}



.shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.shadow.hover,
.shadow:hover{
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.shadow.my-4{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5)
}
/* End oF Form */





/* Dashboard */

.dashboard .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
}

/* End oF Dashboard */

/* Profile */

.profile-top{
    font-size: 3rem;
    font-weight: 700;
    text-align: justify;
}
.main{
    font-weight: 700;
}

.info{
    font-weight: 500;
    color: #666;
}

.profile-buttons .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
}

.profile-bottom{
    padding: 30px;
}

.profile-pic{
    border-radius: 50%;
    margin-top: -50%;
    margin-left: 30px;
    width: 90%;
}
/* End oF Profile */



/* Change Password */

.profile-pic-changepassword{
    display: block;
    border-radius: 50%;
    margin-top: -12%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.changepassword-top{
    margin-top: 20px;
    text-align: center;
}

.changepassword-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

/* End oF Change password */


/* Delete Account */

.delete-txt{
    color: #666;
    font-weight: 500;
}

.deletebutton .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
}

/* End oF Delete Account */



/* Cart */

.pay .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
}

/* End oF Cart */



/* Import */

.import .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
}

/* End oF Import */









/* Footer */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    color: #00d2ff
}

ul>li:hover {
    color: #3a7bd5;
    cursor: pointer
}

hr {
    border-width: 3px
}

.Footer {
    padding: 2% 7%
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #3a7bd5;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 2px solid
}

/* End oF Footer */


/* Error 404  */
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
/* End oF Error 404  */



/* Panel */
.panel{
    max-height: 80vh;
    padding: 1%;
    overflow-y: scroll;
    border: 1px solid #ede2c1;
}

.heading{
    background-color: #ede2c1;
    color:#474239;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: inherit;
    font-size: small;
}

.rows{
    font-family: 'sans-serif';
    font-size: 13px;
}

.rows td{
    text-align: center;
}